[submodule "src/3rdparty/qt5-x11embed"]
	path = src/3rdparty/qt5-x11embed
	url = https://github.com/Lukas-W/qt5-x11embed.git
[submodule "src/3rdparty/rpmalloc/rpmalloc"]
	path = src/3rdparty/rpmalloc/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc.git
[submodule "src/3rdparty/suil"]
	path = src/3rdparty/suil/suil
	url = https://github.com/drobilla/suil
[submodule "src/3rdparty/sratom"]
	path = src/3rdparty/sratom/sratom
	url = https://github.com/drobilla/sratom
[submodule "src/3rdparty/serd"]
	path = src/3rdparty/serd/serd
	url = https://github.com/drobilla/serd
[submodule "src/3rdparty/lilv"]
	path = src/3rdparty/lilv/lilv
	url = https://github.com/drobilla/lilv
