/build/
/target/
.*.sw?
.DS_Store
*~
/CMakeLists.txt.user
/plugins/ZynAddSubFx/zynaddsubfx/ExternalPrograms/Controller/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/ExternalPrograms/Spliter/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/doc/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/doc/gen/Makefile
/data/locale/*.qm
Brewfile.lock.json
/.cache/
compile_commands.json
.vscode/settings.json
recover.mmp.bak
projects/;zsokjfh.mmpz
projects/balls 2.mmpz
projects/balls 2.mmpz.bak
projects/bitchass.mmpz
projects/bitchass.mmpz.bak
projects/bitchass.wav
projects/bitchass1.mmpz
projects/budleshit.mmpz
projects/budleshit.mmpz.bak
projects/fundumb.mmpz
projects/fundumb.mmpz.bak
projects/holyhezbolla.mmpz
projects/holyhezbolla.mmpz.bak
projects/holyhezbolla.wav
projects/mofuckas.mmpz
projects/mofuckas.mmpz.bak
projects/punk rock.mmpz
projects/punk rock.mmpz.bak
projects/shbolla.mmpz
projects/shbolla.mmpz.bak
projects/shit.mmpz
projects/ballzdeep/ballzdeep.mmpz
projects/ballzdeep/resources/bassdrum04.ogg
projects/ballzdeep/resources/hihat_closed03.ogg
projects/ballzdeep/resources/snare04.ogg
samples/Newish.xpf
