[submodule "src/3rdparty/qt5-x11embed"]
	path = src/3rdparty/qt5-x11embed
	url = https://github.com/Lukas-W/qt5-x11embed.git
[submodule "src/3rdparty/rpmalloc/rpmalloc"]
	path = src/3rdparty/rpmalloc/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc.git
[submodule "plugins/zynaddsubfx/zynaddsubfx"]
	path = plugins/zynaddsubfx/zynaddsubfx
	url = https://github.com/lmms/zynaddsubfx.git
[submodule "plugins/FreeBoy/game-music-emu"]
	path = plugins/FreeBoy/game-music-emu
	url = https://bitbucket.org/mpyne/game-music-emu.git
[submodule "plugins/OpulenZ/adplug"]
	path = plugins/OpulenZ/adplug
	url = https://github.com/adplug/adplug.git
[submodule "plugins/LadspaEffect/calf/veal"]
	path = plugins/LadspaEffect/calf/veal
	url = https://github.com/lmms/veal
[submodule "plugins/Xpressive/exprtk"]
	path = plugins/Xpressive/exprtk
	url = https://github.com/ArashPartow/exprtk
[submodule "plugins/LadspaEffect/swh/ladspa"]
	path = plugins/LadspaEffect/swh/ladspa
	url = https://github.com/swh/ladspa
[submodule "plugins/LadspaEffect/tap/tap-plugins"]
	path = plugins/LadspaEffect/tap/tap-plugins
	url = https://github.com/tomszilagyi/tap-plugins
[submodule "src/3rdparty/weakjack/weakjack"]
	path = src/3rdparty/weakjack/weakjack
	url = https://github.com/x42/weakjack.git
