Alexandre Almeida <wilsalx@gmail.com>
Alexandre Almeida <wilsalx@gmail.com> <meta.lx@hotmail.com>
Alexandre Almeida <wilsalx@gmail.com> <wilson@wil-pc>
Tobias Junghans <tobydox@veyon.io> <tobias.doerffel@gmail.com>
Tobias Junghans <tobydox@veyon.io> <totimaju@gmail.com>
Dave French <dave.french3@googlemail.com>
Paul Giblock <drfaygo@gmail.com> <pgib@users.sf.net>
Paul Giblock <drfaygo@gmail.com> <p@pgiblock.net>
Andrew Kelley <superjoe30@gmail.com> <andrew.r.kelley@gmail.com>
Andrew Kelley <superjoe30@gmail.com> <andy@debian.superjoesoftware>
Janne Sinisalo <janne.m.sinisalo@gmail.com> <janne@janne-desktop.(none)>
Raine M. Ekman <raine@iki.fi> <raine@raine.(none)>
Raine M. Ekman <raine@iki.fi> <raine@raine.damex.fi>
Lukas W <lukaswhl@gmail.com> <lukaswhl@googlemail.com>
Vesa <contact.diizy@nbl.fi> <vesa@isokone.(none)>
Vesa <contact.diizy@nbl.fi> <diizy@users.noreply.github.com>
Tres Finocchiaro <tres.finocchiaro@gmail.com>
Tres Finocchiaro <tres.finocchiaro@gmail.com> <tres@ubuntu-1204.(none)>
Tres Finocchiaro <tres.finocchiaro@gmail.com> <ubuntu@ubuntu-1204.(none)>
Tres Finocchiaro <tres.finocchiaro@gmail.com> <tresf@github.com>
Rüdiger Ranft <rudi@qzzq.de> <_rdi_@web.de>
Spekular <Spekularr@gmail.com> <Spekular@users.noreply.github.com>
unfa <unfa00@gmail.com> <unfa@unfa.(none)>
mikobuntu <chrissy.mc.1@hotmail.co.uk>
mikobuntu <chrissy.mc.1@hotmail.co.uk> <mikobuntu@mikobuntu-Aspire-5332.(none)>
Jonathan Aquilina <eagles051387@gmail.com>
midi-pascal <midi-pascal@videotron.ca> <pascal@TDE.(none)>
midi-pascal <midi-pascal@videotron.ca> <midi-pascal@users.noreply.github.com>
Thomas Clark <the.thomas.j.clark@gmail.com>
Thomas Clark <the.thomas.j.clark@gmail.com> <tjclark@wpi.edu>
anonymous <support@lmms.io> Locale updater <>
grejppi <grejppi@gmail.com>
Johannes Lorenz <j.git@lorenz-ho.me> <johannes89@mailueberfall.de>
Johannes Lorenz <j.git@lorenz-ho.me> <1042576+JohannesLorenz@users.noreply.github.com>
Noah Brecht <noahb2713@gmail.com>
Olivier Humbert <trebmuh@tuxfamily.org> <trebmuh@users.noreply.github.com>
Hussam al-Homsi <sawuare@gmail.com> Hussam Eddin Alhomsi <hussameddin.alhomsi@gmail.com>
Dalton Messmer <messmer.dalton@gmail.com> <messmerd97@gmail.com>
Dalton Messmer <messmer.dalton@gmail.com> <33463986+messmerd@users.noreply.github.com>
Sotonye Atemie <sakertooth@gmail.com> <sakertooth@Gmail.com>
Fawn <rubiefawn@gmail.com> <ian.sannar@gmail.com>
Lukas W <lukaswhl@gmail.com> <lukas@Lukass-iMac.fritz.box>
Ra <symbiants@gmail.com>
Alex <allejok96@gmail.com>
Kumar <adityakumar4644@gmail.com>
Javier Serrano Polo <javier@jasp.net> <javier--IfwAyVwL9S8xJKrdU2QtlAdbjyPl9T@jasp.net>
Javier Serrano Polo <javier@jasp.net> <jasp00@terra.es>
justnope <dont@email.invalid> <39016732+justnope@users.noreply.github.com>
justnope <dont@email.invalid> <46006588+justnope@users.noreply.github.com>
Martin Pavelek <he29.HS@gmail.com> <martin@he29.net>
Martin Pavelek <he29.HS@gmail.com> <he29.hs@gmail.com>
Andrés <andresbb@gmail.com>
Joshua Wade <6700184+josh-audio@users.noreply.github.com> <qbgeekjtw@gmail.com>
Joshua Wade <6700184+josh-audio@users.noreply.github.com> <SecondFlight@users.noreply.github.com>
Dominic Clark <mrdomclark@gmail.com>
Lost Robot <r94231@gmail.com> <34612565+LostRobotMusic@users.noreply.github.com>
Lost Robot <r94231@gmail.com> <34612565+DouglasDGI@users.noreply.github.com>
Rebecca Noel Ati <rebeccadefield@gmail.com>
Kevin Zander <veratil@gmail.com>
Léo Andrès <leo@ndrs.fr>
Kapandaria <dvoreader@gmail.com> <gnudles@users.noreply.github.com>
Thomas Mueller <64359888+thmueller64@users.noreply.github.com>
Cas Pascal <81458575+khoidauminh@users.noreply.github.com>
David Carlier <devnexen@gmail.com>
István Szabó <djpixus@gmail.com>
István Szabó <djpixus@gmail.com> <65627470+dj-pixus@users.noreply.github.com>
Lisa Magdalena Riedler <git@riedler.wien> <github@riedler.wien>
Ron U <sharpblade4@gmail.com>
Wong Cho Ching <chwong249664@yahoo.com>
Hyunjin Song <tteu.ingog@gmail.com>
LMMS Service Account <lmms.service@gmail.com>
follower <follower@rancidbacon.com> <github@rancidbacon.com>
Arash Partow <arash@partow.net>
Arash Partow <arash@partow.net> <ArashPartow@users.noreply.github.com>
Arash Partow <arash@partow.net> <partow@gmail.com>
Colin Wallace <colin@mooooo.ooo> <wallacoloo@gmail.com>
Cyp <cyp@wz2100.net> <48363+Cyp@users.noreply.github.com>
Daniel Kauss Serna <daniel.kauss.serna@gmail.com>
Karmo Rosental <karmo.rosental@gmail.com> <karmo@coolbet.com>
Levin Oehlmann <irrenhaus3@gmail.com> <lv.oehlmann@gmail.com>
liushuyu <liushuyu011@gmail.com> <liushuyu_011@163.com>
Nia Alarie <nia@netbsd.org> <29542929+alarixnia@users.noreply.github.com>
Nia Alarie <nia@netbsd.org> <29542929+niacat@users.noreply.github.com>
StakeoutPunch <ehr@ravemail.com> <StakeoutPunch@users.noreply.github.com>
Steffen Baranowsky <baramgb@freenet.de> <BaraMGB@freenet.de>
