language: cpp
compiler: gcc
dist: trusty
sudo: required
matrix:
    include:
        - env: TARGET_OS=win32
        - env: TARGET_OS=win64
        - os: osx
          osx_image: xcode8.2
        - env: QT5=True
        - env: QT5=True TARGET_OS=win32
        - env: QT5=True TARGET_OS=win64
        - os: osx
          env: QT5=True
before_install:
   - . ${TRAVIS_BUILD_DIR}/.travis/${TRAVIS_OS_NAME}.${TARGET_OS}.before_install.sh
install:
    - . ${TRAVIS_BUILD_DIR}/.travis/${TRAVIS_OS_NAME}.${TARGET_OS}.install.sh
before_script:
    - mkdir build && cd build
script:
    - . ${TRAVIS_BUILD_DIR}/.travis/${TRAVIS_OS_NAME}.${TARGET_OS}.script.sh
    - make -j4
    - if [[ $TARGET_OS != win* ]]; then make tests && ./tests/tests; fi;
before_deploy: make package
deploy:
    provider: releases
    api_key:
        secure: d4a+x4Gugpss7JK2DcHjyBZDmEFFh4iVfKDfITSD50T6Mc6At4LMgojvEu+6qT6IyOY2vm3UVT6fhyeuWDTRDwW9tfFlaHVA0h8aTRD+eAXOA7pQ8rEMwQO3+WCKuKTfEqUkpL4wxhww8dpkv54tqeIs0S4TBqz9tk8UhzU7XbE=
    file: lmms-${TRAVIS_TAG:1}-$TARGET_OS.exe
    skip_cleanup: true
    on:
        tags: true
        all_branches: true
        condition: "($TARGET_OS = win*) && ($QT5 = true)"
    repo: LMMS/lmms
notifications:
    webhooks:
       urls:
           - https://webhooks.gitter.im/e/1ac7fc698195981a9227
       on_success: change  # options: [always|never|change] default: always
       on_failure: always  # options: [always|never|change] default: always
       on_start: never     # options: [always|never|change] default: always 
