language: cpp
compiler: gcc
dist: trusty
sudo: required
cache:
    directories:
        - apt_mingw_cache
        - $HOME/.ccache
matrix:
    include:
        - env: TYPE=style
        - env: TARGET_OS=win32
        - env: TARGET_OS=win64
        - os: osx
          osx_image: xcode8.2
        - env: QT5=
        - env: QT5=True
        - env: QT5=True TARGET_OS=win32
        - env: QT5=True TARGET_OS=win64
        - os: osx
          osx_image: xcode8.2
          env: QT5=True
install: ${TRAVIS_BUILD_DIR}/.travis/install.sh
script: ${TRAVIS_BUILD_DIR}/.travis/script.sh
after_script: ${TRAVIS_BUILD_DIR}/.travis/after_script.sh
before_deploy: make package
deploy:
    provider: releases
    api_key:
        secure: d4a+x4Gugpss7JK2DcHjyBZDmEFFh4iVfKDfITSD50T6Mc6At4LMgojvEu+6qT6IyOY2vm3UVT6fhyeuWDTRDwW9tfFlaHVA0h8aTRD+eAXOA7pQ8rEMwQO3+WCKuKTfEqUkpL4wxhww8dpkv54tqeIs0S4TBqz9tk8UhzU7XbE=
    file: lmms-${TRAVIS_TAG:1}-$TARGET_OS.exe
    skip_cleanup: true
    on:
        tags: true
        all_branches: true
        condition: '("$TARGET_OS" = win??) && "$QT5"'
    repo: LMMS/lmms
