/* LMMS style sheet */

QMdiArea {
	background-image: url(resources:background_artwork.png);
}

automationEditor {
	background-color: rgb(0, 0, 0);
}

captionMenu::item:disabled {
	color: white;
	background-color: rgb(0, 0, 192);
	text-align: center;
}

pianoRoll {
	background-color: rgb(0, 0, 0);
}

trackOperationsWidget > QPushButton {
	max-height: 26px;
	max-width: 26px;
	min-height: 26px;
	min-width: 26px;
}

trackOperationsWidget#automationDisabled > QPushButton::menu-indicator {
	image: url(resources:track_op_menu_disabled.png);
}

trackOperationsWidget#automationEnabled > QPushButton::menu-indicator {
	image: url(resources:track_op_menu.png);
}

trackWidget {
/*	border-bottom: 1px solid rgb(0, 0, 0);*/
	background-color: rgb(0, 0, 0);
}

QWidget#mainToolbar {
	background-image: url(resources:main_toolbar_bg.png);
}

fxMixerView QPushButton {
	font-size: 9px;
}

tripleOscillatorView knob {
	color: rgb(1, 114, 216);
	qproperty-outerColor: rgb(0, 0, 0);
	qproperty-innerRadius: 1;
	qproperty-outerRadius: 6.5;
	qproperty-centerPointX: 13.5;
	qproperty-centerPointY: 13.5;
	qproperty-lineWidth: 2;
}


kickerInstrumentView knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.5;
	qproperty-lineWidth: 3;
}


audioFileProcessorView knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 16.5;
	qproperty-lineWidth: 3;
}

organicInstrumentView knob {
	color: rgb(205, 16, 216);
	qproperty-outerColor: rgb(23, 9, 24);
	/*qproperty-outerColor: rgb(64, 21, 67);*/
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 8.7;
	qproperty-centerPointX: 10.5;
	qproperty-centerPointY: 10.5;
	qproperty-lineWidth: 2;
}


organicInstrumentView knob#fx1Knob,
organicInstrumentView knob#volKnob {
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.8;
	qproperty-lineWidth: 3;
}
