/* LMMS style sheet */

QWhatsThat {
	color: black;
}

QMdiArea {
	background-image: url(resources:background_artwork.png);
}

AutomationEditor {
	background-color: rgb(0, 0, 0);
}


QLineEdit {
	border-radius: 4px;
	border: 2px inset rgba(91,101,113,128);
	background: #49515b;
	color: #e0e0e0;
}

QLineEdit:focus {
	border: 1px solid rgba(0,0,0, 128);
}


QToolTip {
	border-radius: 4px;
	background: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0 rgba(0, 0, 0, 255), stop:1 rgba(50, 50, 50, 220));
	opacity: 175;
	border: 1.0px solid rgba(0,0,0,255);
	color: #4afd85;
}


QMenu {
	border:1px solid #747474;
	background-color: #c9c9c9;
	font-size:11px;
}

QMenu::separator {
	height: 1px;
	background: #c9c9c9;
	margin-left: 5px;
	margin-right: 5px;
}

QMenu::item {
	color: black;
	padding: 2px 32px 2px 20px;
	margin:3px;
}

QMenu::item:selected {
	color: white;
	font-weight:bold;
	background-color: #747474;
	margin:3px;
}

QMenu::item:disabled {
	color: #747474;
	background-color: #c9c9c9;
	margin:0px;
	font-size:12px;
	font-weight: normal;
	padding: 4px 32px 4px 20px;
}

QMenu::indicator {
	width: 16;
	height: 16;
	opacity: 0;
	background-color: #c9c9c9;
}

QMenu::indicator:checked {
	image: url("resources:apply.png");
}

QMenu::indicator:selected {
	image: url("resources:apply-selected.png");
	background-color: #747474;
}

pianoRoll {
	background-color: rgb(0, 0, 0);
}

/*TrackContainerView QWidget{
	background-color: #5b6571;
}*/

TrackContainerView QFrame{
	background-color: #49515b;
}

trackOperationsWidget > QPushButton {
	max-height: 26px;
	max-width: 26px;
	min-height: 26px;
	min-width: 26px;
	background: none;
	border:none;
}
/*
trackOperationsWidget > QPushButton:hover {
	background: qlineargradient(spread:reflect, x1:0.5, y1:0.5, x2:0.5, y2:0, stop:0 rgba(224, 224, 224, 255), stop:1 rgba(201, 201, 201, 255));
	border: 1px solid rgba(0,0,0,255);
	color: black;
}

trackOperationsWidget > QPushButton:pressed {
	background: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 #747474, stop:0.5 #c9c9c9, stop:1 #c0c0c0 );
	border: 1px solid rgba(0,0,0,255);
	color: black;
}

trackOperationsWidget > QPushButton:flat {
	background-color: #c9c9c9;
	border-radius: 2px;
	border: none;
}
*/

trackOperationsWidget > QPushButton::menu-indicator {
	image: url(resources:trackop.png);
	subcontrol-origin: padding;
	subcontrol-position: center;
	position: relative;
	top: 2px;
}

trackOperationsWidget > QPushButton::menu-indicator:hover {
	image: url(resources:trackop_h.png);
}


trackOperationsWidget > QPushButton::menu-indicator:pressed,
trackOperationsWidget > QPushButton::menu-indicator:checked
 {
	image: url(resources:trackop_c.png);
	position: relative;
	top: 3px;
}

trackWidget {
/*	border-bottom: 1px solid rgb(0, 0, 0);*/
	background-color: rgb(0, 0, 0);
}
nameLabel, effectLabel, sf2InstrumentView > QLabel {
	font-size:10px;
}


QWidget#mainToolbar {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #98a2a7, stop:1 #5b646f);
}

QToolBar {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #98a2a7, stop:1 #5b646f);
}

QToolButton, toolButton {
	padding: 1px 1px 1px 1px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,32);
	background: qradialgradient(cx:0.3, cy:0.3, radius:0.8, fx:0.3, fy:0.3, stop:0 #c9c9c9, stop:1 #969696 );
	font-size:10px;
	color: black;
}

QToolButton:hover, toolButton:hover {
	background: qradialgradient(cx:0.3, cy:0.3, radius:0.8, fx:0.3, fy:0.3, stop:0 #e0e0e0, stop:0.5 #c9c9c9, stop:1 #969696 );
	border: 1px solid rgba(0,0,0,128);
	color: white;
}

QToolButton:pressed, toolButton:pressed {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #969696, stop:0.5 #c9c9c9, stop:1 #969696 );
	padding: 2px 1px 0px 1px;
	border: 1px solid rgba(0,0,0,128);
	color: white;
}

QToolButton:checked, toolButton:checked  {
	background: qradialgradient(cx:0.3, cy:0.3, radius:0.8, fx:0.3, fy:0.3, stop:0 #e0e0e0, stop:0.8 #c9c9c9, stop:1 #c0c0c0 );
	border-radius: 3px;
	padding: 2px 1px 0px 1px;
	border: 1px solid rgba(0,0,0,255);
	color: black;
}

trackLabelButton {
	background-color: #5b6571;
	color: #c9c9c9;
	font-size: 10px;
	font-weight: normal;
	border-radius: 1px;
	border: none;
	padding: 2px 1px;
}

trackLabelButton:hover {
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:0.5, stop:0 #5b6571, stop:0.75 #7b838d, stop:1 #7b838d );
	color: white;
	border: 1px solid rgba(0,0,0,64);
	padding: 1px 0px;
}

trackLabelButton:pressed {
	background: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 #49515b, stop:0.3 #5b6571, stop:1 #6b7581 );
	color: white;
	border: 1px solid rgba(0,0,0,64);
	padding: 2px 0px 0px;
	font-weight: bold;
}

trackLabelButton:checked {
	background: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 #49515b, stop:0.3 #5b6571, stop:1 #6b7581 );
	color: white;
	border: 1px solid rgba(0,0,0,128);
	padding: 2px 0px 0px;
	font-weight: bold;
}

trackLabelButton:checked:hover {
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:0.5, stop:0 #5b6571, stop:0.75 #7b838d, stop:1 #7b838d );
}

trackLabelButton:checked:pressed {
	background: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 #49515b, stop:0.3 #5b6571, stop:1 #6b7581 );
}



SideBar {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0 #98a2a7, stop: 1.0 #5b646f);
}

SideBar QToolButton {
	font-size: 12px;
}

FxMixerView QPushButton, EffectRackView QPushButton, ControllerRackView QPushButton {
	font-size: 10px;
}

timeLine {
	font-size: 8px;
}

QTreeView {
	alternate-background-color: #747474;
}

/* Plugins */

TripleOscillatorView knob {
	color: rgb(1, 114, 216);
	qproperty-outerColor: rgb(0, 0, 0);
	qproperty-innerRadius: 1;
	qproperty-outerRadius: 6.5;
	qproperty-centerPointX: 13.5;
	qproperty-centerPointY: 13.5;
	qproperty-lineWidth: 2;
}


kickerInstrumentView knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.5;
	qproperty-lineWidth: 3;
}


AudioFileProcessorView knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 16.5;
	qproperty-lineWidth: 3;
}

organicInstrumentView knob {
	color: rgb(205, 16, 216);
	qproperty-outerColor: rgb(23, 9, 24);
	/*qproperty-outerColor: rgb(64, 21, 67);*/
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 8.7;
	qproperty-centerPointX: 10.5;
	qproperty-centerPointY: 10.5;
	qproperty-lineWidth: 2;
}


organicInstrumentView knob#fx1Knob,
organicInstrumentView knob#volKnob {
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.8;
	qproperty-lineWidth: 3;
}

sf2InstrumentView knob {
	color: #ff00ea;
	qproperty-outerColor: rgb(20, 5, 18);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9.2;
	qproperty-centerPointX: 15.5;
	qproperty-centerPointY: 15.42;
	qproperty-lineWidth: 2;
}

opl2instrumentView knob {
	color: rgb(128,128,128);
	qproperty-outerColor: rgb(255,255,255);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9;
	qproperty-lineWidth: 2;
}

/* palette information - each colour definition must be on a single line, and the line must begin with "palette:", with no leading whitespace
 * colour codes MUST be of the form #RRGGBB */

palette:background {color: #5b6571}
palette:windowtext {color: #f0f0f0}
palette:base {color: #808080}
palette:text {color: #e0e0e0}
palette:button {color: #c9c9c9}
palette:shadow {color: #000000}
palette:buttontext {color: #000000}
palette:brighttext {color: #4afd85}
palette:highlight {color: #202020}
palette:highlightedtext {color: #ffffff}

/* Notes:

lcd-spinbox colors: (12, 250, 150), (37, 57, 42)


*/
