m4
missing
aclocal.m4
config.guess
config.h.in
config.sub
configure
ltmain.sh
ltconfig
.deps
.libs
Makefile
Makefile.in
autom4te.cache
config.h
config.h.in~
config.log
config.rpath
config.status
libtool
stamp-h1
POTFILES
*.o
*.a
*.la
*.lo
*[0123456789].c
*.m4
metadata/swh-plugins.rdf
